export PROJECT_ROOT="$PWD"

if [ -n "${PYTHONPATH:-}" ]; then
    export PYTHONPATH="$PWD:$PYTHONPATH"
else
    export PYTHONPATH="$PWD"
fi

if [ -d ".venv/Scripts" ]; then
    PATH_add .venv/Scripts
    export VIRTUAL_ENV="$PWD/.venv"
elif [ -d ".venv/bin" ]; then
    PATH_add .venv/bin
    export VIRTUAL_ENV="$PWD/.venv"
fi